body {
  margin: 0;
  background-color: rgb(251, 243, 215);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.App-header {
  text-align: center;
  margin: 20px 0;
}

.App-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: rgb(59, 77, 3);
}

.App-header p {
  font-size: 1.2rem;
  color: #777;
}

/* Skills and Certificates Sections */
/* Skills and Certificates Sections */
.Skills-certificates-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px;
  text-align: left;
  border: 1px solid #ddd;
  margin: 20px 0;
}

.Skills-section,
.Certificates-section {
  flex: 1;
  padding: 0 100px;
}

.Skills-table {
  display: grid; /* Use grid layout for the table */
  grid-template-columns: repeat(2, 1fr); /* Create 2 columns with equal width */
  gap: 20px; /* Add gap between grid items */
}

.Skills-category {
  margin: 0;
}

.Skills-category h4 {
  font-size: 1rem;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.Certificate-item {
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Certificate-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Projects and CV-Contact Sections */
.CV-Contact-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Adjust as needed */
}

.Projects-section,
.CV-Contact-section {
  flex: 1;
  padding: 40px 20px;
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  margin: 20px 0;
}


.CV-section h2,
.Contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: rgb(59, 77, 3);
}

.CV-icon img,
.Contact-icon img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.CV-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.CV-button:hover {
  background-color: #0056b3;
}
