body {
  margin: 0;
  background-color: rgb(251, 243, 215);
}

.Home {
  display: flex;
  flex-direction: column;
  align-items:center;
  min-height: 100vh;
}

.Home-header {
  text-align: center;
  margin: 20px 0;
}

.Home-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: rgb(59, 77, 3);
}

.Home-header p {
  font-size: 1.2rem;
  color: #777;
}

/* Skills and Certificates Sections */
.Skills-certificates-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px;
  text-align: left;
  
  margin: 0px 0;
  height:auto;
}
.Skills-section h2{
 text-align: center;
}

.Skills-section,
.Certificates-section {
  flex: 1;
  padding: 0 20px; /* Adjust padding for both sections */
}

.Skills-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 50px;
}

.Skills-category {
  margin: 0;
}

.Skills-category h4 {
  font-size: 1rem;
  border-bottom: 2px solid rgb(59, 77, 3);
  padding-bottom: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.Certificates-section {
  border-left: 1px solid #ddd; /* Add a border on the left side */
  
}

.Certificate-list {
  display: flex; /* Display certificates in a row */
  flex-wrap: wrap; /* Allow wrapping when space is limited */
  align-items: flex-start;
  margin-top: 20px; /* Add some spacing between the border and certificates */
}

.Certificate-item {
  flex-basis: calc(50% - 15px); /* Adjust width to fit two items in a row with some spacing */
  margin-left: 50px; /* Add spacing between certificate items */
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  
}
.Certificates-section h2 {
  margin-left: 200px;
 
}

.Certificate-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.Projects-section{
  text-align: center;
  margin-top: 100px;
}
.CV-Contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  text-align: left;
  margin-top: 100px;
}

.Contact-section, 
.CV-section {
  flex:1;
  text-align: center;
  margin: 50px 20px;
  
}
.CV-section {
  margin-left: 00px; /* Add a bit of distance between the sections */
 
}

.Contact-section{
  margin-right: 250px; /* Add a bit of distance between the sections */
}


.Contact-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Contact-col {
  flex: 1;
  text-align: center;
}

.Contact-icon img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.Contact-col a {
  display: block;
  font-size: 1.2rem;
  color: rgb(59, 77, 3);
  text-decoration: none;
  transition: color 0.3s;
}

.Contact-col a:hover {
  color: #0056b3;
}

.CV-Contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: rgb(59, 77, 3);
}

.CV-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.CV-button:hover {
  background-color: #0056b3;
}
